@charset "utf-8";

/* CSS Document */
body {
	background: #ececec;
	font-family: 'Open Sans', sans-serif;
	color: #555;
	font-size: 15px;
}

header {
	text-align: center;
}

.header {
	background: #fff;
}

.header-logo {
	padding: 0 0 15px;
	background: #fff;
}

.header-logo img {
	margin: 5px;
	width: auto;
}

.header-title,
h3 {
	padding: 5px 0;
	background: #185ba9;
	font-size: 17px;
	font-weight: 700;
	color: #fff;
	margin: 0;
	text-align: center;
	border-radius: 5px 5px 0 0;
}

.text-nav,
.text-nav a {
	text-align: right;
	font-size: 14px;
	color: #666;
	text-decoration: underline;
	padding: 5px 0;
}

.text-nav,
.text-nav a:hover {
	text-decoration: none !important;
}

.form-wrap {
	background: #fff;
	display: block;
	padding: 20px;
	border-radius: 5px;
	margin-bottom: 15px;
	margin-top: 5px;
	text-align: left;
	-webkit-box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.14);
	-moz-box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.14);
	box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.14);
}

.card-details img {
	text-align: center;
	display: inline-block;
}

.section {
	padding: 20px 0;
}

.card-details {
	margin: 0px 0;
	text-align: center;
}

.card-details input {
	padding: 0;
	margin: 5px 0;
	display: block;
	width: 100%;
	background: #fff;
	border: solid 1px #d7d7d7;
	border-radius: 5px;
	height: 40px;
	padding: 0 10px;
}

.no-space {
	padding: 0;
}

.right-span {
	padding: 0 15px;
	color: #cfcfcf;
}

.form-wrap input {
	display: block;
	width: 100%;
	background: #f5f5f5;
	border: solid 1px #ddd;
	border-radius: 3px;
	height: 42px;
	padding: 10px;
}

.form-wrap label {
	font-size: 16px;
	font-weight: 600;
	margin-top: 10px;
}

.btn-success {
	background-color: #4fad4d;
	color: #fff;
	-webkit-box-shadow: 0px 3px 0px 0px rgba(61, 142, 59, 1);
	-moz-box-shadow: 0px 3px 0px 0px rgba(61, 142, 59, 1);
	box-shadow: 0px 3px 0px 0px rgba(61, 142, 59, 1);
	font-weight: 800;
}

.payment-wrap {
	display: block;
	background: none repeat scroll 0 0 #fff;
	border-bottom: 1px solid #eee;
	display: block;
	padding: 15px;
}

.footer {
	background: #d2d2d2;
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-color: #d2d2d2 #d2d2d2 -moz-use-text-color;
	border-image: none;
	/*border-style: solid solid none;*/
	border-width: 1px 1px 0;
	padding: 15px;
	text-align: center;
}

select {
	background: #f5f5f5 !important;
	box-shadow: none !important;
	height: 40px !important;
}

.checkbox {
	display: inline-block !important;
	height: auto !important;
	width: auto !important;
	margin: 10px 0 !important;
}

.panel-group {
	margin-bottom: 10px;
}

.label-amount {
	background: none repeat scroll 0 0 #f5f5f5;
	border: 1px solid #ddd;
	border-radius: 3px;
	display: block;
	height: 42px;
	padding: 0 10px;
	width: 100%;
	line-height: 38px;
	font-weight: 500 !important;
}

.bill-wrap {
	text-align: right;

}

.invoice-wrap td,
th {
	padding: 6px;
	font-size: 14px;
}

.invoice-wrap {
	/*padding:0;*/
}

.invoice-wrap h3 {
	color: #aaa;
	font-size: 50px;
	font-weight: 100;
	line-height: 30px;
	margin: 0 !important;
	padding: 0;
}

.invoice-wrap h2 {
	color: #666666;
	margin: 10px 0 0 0;
	padding: 0;
	text-align: right;
}

.invoice-wrap .table-invoice {
	border: 4px solid #D3E2F2;
	border-collapse: collapse;
}

.invoice-wrap .table-invoice td,
th {
	border-color: #D3E2F2;
}

.invoice-wrap .table-invoice td.table-bg {
	background: #F0F5FA;
}

.invoice-nbr {
	color: #064998;
	font-size: 15px;
	font-weight: 700;
	margin: 0;
}

.invoice-wrap .table-invoice-desc {
	border-collapse: collapse;
	border-color: #EEEEEE;
	margin: 0px 0;
	border-top: solid 1px #eee;
}

.invoice-wrap .table-invoice-desc tr>td {
	border-bottom: 1px solid #EEEEEE;
	border-left-style: hidden;
	border-right-style: hidden;
	border-color: #EEEEEE;
}

.invoice-wrap .table-invoice-desc tr.table-top {
	background: none repeat scroll 0 0 #F7F7F7;
	border-bottom: 1px solid #EEEEEE;
	/*     border-left-style: hidden; */
	/*     border-right-style: hidden; */
}

.invoice-wrap .table-invoice-total {
	border: 1px solid #D3E2F2;
	border-collapse: collapse;
}

.invoice-wrap .table-invoice-total td {
	border-color: #D3E2F2;
}

.invoice-wrap .table-invoice-total td.left-style {
	border-left-style: hidden;
}

.invoice-wrap .table-invoice-total tr.total-wrap {
	background: none repeat scroll 0 0 #F0F5FA;
	text-align: right;
}

.invoice-wrap-footer {
	background: none repeat scroll 0 0 #F7F7F7;
	margin-top: 15px;
	text-align: center;
}

.modal-content {
	border-radius: 6px;
	overflow: hidden;
}

.table-invoice-wrap {
	padding: 10px;
	padding-bottom: 0;
}

.modal {
	overflow-x: auto;
	overflow-y: scroll;
}

.modal-backdrop,
.modal-backdrop.fade.in {
	background-color: #333 !important;
}

.modal-backdrop {
	bottom: 0;
	position: fixed;
}

.has-error {
	border-color: #a94442;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075)
}

.has-error {
	border-color: #843534;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483
}

.justified-wrap {
	display: block;
}

.justified-wrap>div>label.right {
	margin-left: -2px;
}

.sadad-content-wrap {
	border: solid 1px #d4d4d2;
	border-bottom: none;
	border-radius: 20px;
	-webkit-box-shadow: 0px 6px 0px 0px rgba(244, 119, 50, 1);
	-moz-box-shadow: 0px 6px 0px 0px rgba(244, 119, 50, 1);
	box-shadow: 0px 6px 0px 0px rgba(244, 119, 50, 1);
	margin: 30px 0;
	padding: 30px;
	background: #fff;
}

.sadad-content-wrap h4 {
	text-transform: uppercase;
	font-weight: 600;
	color: #f47732;
	float: left;
	margin: 25px 0;
}

.sadad-content-wrap table {
	margin-top: 20px;
	border-top: solid 2px #f47732;
}

.sadad-content-wrap .table>thead>tr>th,
.table>tbody>tr>th,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>tbody>tr>td,
.table>tfoot>tr>td {
	padding: 12px 0;
}

.success {
	color: #4a9630;
	font-weight: 600;
}

.sadad-footer {
	background: none;
	text-align: center;
}

.payment-wrap>.form-wrap {
	border-radius: 0;
	box-shadow: none;
	padding: 10px 0 0;
}

.radio-list>label {
	/*display: block;*/
	font-weight: 400;
	font-size: 15px;
	line-height: 30px;
}

.radio-list>label .small {
	font-size: 11px;
	color: #999;
}

.form-wrap .radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
	width: auto;
	height: 21px;
}

@media (min-width: 768px) {
	.container {
		width: 430px;
	}

	.justified-wrap {
		display: flex;
		flex-direction: row;
	}

	label.left {
		border-radius: 5px 0 0 5px;
		border-right-color: white;
	}

	label.right {
		border-radius: 0 5px 5px 0;
	}

	input.left {
		border-radius: 5px 0 0 5px;
		border-right-color: white;
	}

	input.right {
		border-radius: 0 5px 5px 0;
	}

	.form-wrap label {
		margin-top: 0px;
	}

	.sadad-container {
		width: 650px !important;
	}
}

.pt-info {
	text-align: right;
	font-size: 11px;
	cursor: pointer;
	color: #1B75BC;
	margin-right: 5px;
}

.whats-this {

	margin-top: -9px;
	cursor: pointer;
	border-radius: 5px;
	font-size: 11px;
	display: inline-block;
	color: #1B75BC;
	float: right;
	padding-bottom: 10px;
}

.pt-sadad-enable-wrap {
	display: none;
	clear: both;
	width: 100%;
	border: 1px solid #c4c4c4;
	border-radius: 5px;
	position: absolute;
	background: #fff;
	z-index: 9999;
	-webkit-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.09);
	box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.09);
}

.pt-sadad-enable-wrap h2 {
	font-size: 14px;
	color: #1B75BC;
	margin-bottom: 15px;
	line-height: 24px;
	margin-top: 0;
}

.pt-sadad-enable-wrap ul {
	margin-top: 60px;
	padding: 0;
	list-style-type: none;
}

.pt-sadad-enable-inner {
	border-bottom: 1px solid #c4c4c4;
	padding: 30px;
	overflow: hidden;
}

.pt-sadad-enable-inner:last-child {
	border-bottom: 0;
}

.pt-sadad-htp li {
	display: table-cell;
	text-align: center;
	width: 33%;
	position: relative;
}

.pt-sadad-htp li:before {
	position: absolute;
	left: 0;
	right: 0;
	width: 20px;
	height: 20px;
	border-radius: 100px;
	display: block;
	top: -44px;
	margin: 0 auto;
	background: #e6e7e9;
	font-size: 13px;
}

.pt-sadad-htp .step1:before {
	content: "1";
}

.pt-sadad-htp .step2:before {
	content: "2";
}

.pt-sadad-htp .step3:before {
	content: "3";
}

.pt-sadad-enable-steps-wrap {
	display: table;
	margin-top: 35px;
	width: 100%;
}

.pt-sadad-enable-step {
	width: 50%;
	display: table-cell;
	text-align: center;
	position: relative;
}

.pt-sadad-enable-step img {
	margin-bottom: 10px;
}


.pt-sadad-enable-step.step1:after {
	content: url(../img/pt-arrow.png);
	width: 27px;
	height: 12px;
	display: block;
	position: absolute;
	right: -27px;
	top: 35px;
}

.pt-sadad-enable-step.step2:after {
	content: url(../img/pt-arrow-down.png);
	width: 12px;
	height: 27px;
	display: block;
	position: absolute;
	left: 5px;
	bottom: -18px;
	right: 0;
	margin: 0 auto;
}

.pt-sadad-enable-step.step4:after {
	content: url(../img/pt-arrow.png);
	width: 27px;
	height: 12px;
	display: block;
	position: absolute;
	left: 0px;
	top: 15px;
	margin: 0 auto;
	-webkit-transform-style: preserve-3d;
	-webkit-transform: rotateZ(180deg);
	-webkit-backface-visibility: hidden;
}


.pt-arrow:after,
.pt-arrow:before {
	bottom: 100%;
	right: 5%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.pt-arrow:after {
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #fff;
	border-width: 9px;
	margin-right: -10px;
}

.pt-arrow:before {
	border-color: rgba(196, 196, 196, 0);
	border-bottom-color: #c4c4c4;
	border-width: 10px;
	margin-right: -11px;
}

#pt-sadad-htp-outer {
	position: relative;
	top: 10px;
}

#pt-sadad-htp {
	position: absolute;

	z-index: 999;
	background: #fff;
}


#pt-sadad-htp:after,
#pt-sadad-htp:before {
	right: 25px;
	left: unset;
}

#pt-sadad-enable-outer {
	position: relative;
}

#pt-sadad-enable {
	margin-top: 15px;
}



.pt-sadad-btn {
	text-align: right;
	float: right;
	background: #1b75bc;
	color: #fff;
	padding: 5px 15px;
	text-decoration: none;
	border-radius: 5px;
}

.demo-content {
	padding: 20px 0 10px;
}

.demo-content input {
	width: 100%;
	padding: 8px 10px;
	border: 1px solid #ddd;
	border-radius: 5px;
	margin: 3px 0;
}

.demo-content input::-webkit-input-placeholder {
	color: #bbb;
}

.step-help {
	font-size: 12px;
}

.img-help {
	margin-bottom: 10px;
}

.pt-sadad-btn:hover {
	color: #fff;
	text-decoration: none;
}

.payment_method {
	vertical-align: middle;
	margin: 5px 10px;
	cursor: pointer;
}

.payment_method img {
	margin: 0px 5px;
}

.has-error {

	border: 1px solid red !important;
}

.form-control::placeholder {
	font-size: 15px;
}

.form-control {
	font-size: 14px;
	box-sizing: border-box;
}

.out {
	padding: 0;
}


/* sms css*/

#ss-wrapper {
	padding: 20px
}

#ss-wrapper .ss-area {
	max-width: 460px;
	background: #FFF;
	border: 1px solid #bfbfbf;
	margin: 0 auto;
	border-top: 17px solid #185ba9;
}

#ss-wrapper .ss-area .top {
	padding: 0 20px
}

#ss-wrapper .ss-area h3 {
	font-weight: 700;
	font-size: 16px;
	color: #ffffff;
	margin: 0;
	padding: 10px 20px;
	text-align: center;
	border-top: 1px solid #bfbfbf
}

#ss-wrapper .ss-area .details {
	background: #eaeaea;
	padding: 20px
}

#ss-wrapper .ss-area .details p {
	font-size: 12px;
	color: #666
}

#ss-wrapper .ss-area .details table {
	width: 100%
}

#ss-wrapper .ss-area .details table tr td {
	padding: 5px 0;
	font-size: 13px
}

#ss-wrapper .ss-area .details table tr td:first-child {
	font-weight: 700;
	color: #333
}

#ss-wrapper .ss-area .details table tr td:last-child {
	font-weight: 400;
	color: #666
}

#ss-wrapper .ss-area .details table tr td input {
	height: 30px;
	border: 1px solid #d4d4d4;
	border-radius: 30px;
	padding: 0 10px;
	font-size: 13px
}

#ss-wrapper .ss-area .details table tr td input.has-error {
	border-color: #DC291E !important
}

#ss-wrapper .ss-area .details table tr td input:focus {
	outline: 0;
	box-shadow: none
}

#ss-wrapper .ss-area .btns {
	text-align: right;
	padding: 10px 20px
}

#ss-wrapper .ss-area .btns button {
	display: inline-block;
	border: 1px solid #1456a5;
	color: #FFF;
	padding: 7px 20px;
	font-weight: 700;
	border-radius: 5px;
	transition: all 0.3s;
	background: #1456a5;
	font-size: 16px
}

#ss-wrapper .ss-area .btns button svg {
	margin-left: 5px;
	font-size: 12px
}

#ss-wrapper .ss-area .btns button:focus {
	outline: 0;
	box-shadow: none
}

#ss-wrapper .ss-area .btns button:hover {
	background: #b30711
}

#ss-wrapper .ss-area p.copy {
	text-align: center;
	background: #eaeaea;
	padding: 10px 20px;
	margin-bottom: 0;
	color: #333;
	font-size: 13px
}